body{
    background-color: rgb(212, 229, 238);
}

.image1{
    width: auto;
    /* max-width: 250px; */
    /* height: auto; */
    height: 50%;
    padding: 20px;
}

.cards{
    background-color: rgb(229, 226, 226);
    height: 350px;
    border-style: double;
    border-radius: 10px;
}

.cartbody{
    background-color: rgb(229, 226, 226);
    padding: 10px;
    /* border: 1px black solid; */
}

hr{
    border-width: 5px;
}

.topic{
    font-size: 40px;
}
